<div class="span4">
  <div class="box">
    <div class="box-header">
      <span class="title"><%= @farm.name %></span>
    </div>
    <div class="box-content">
      <table class="table table-normal">
        <tbody>
          <tr class="status-pending">
            <td>Street address</td>
            <td><%= @farm.street_address %></td>
          </tr>
          <tr class="status-pending">
            <td>City</td>
            <td><%= @farm.city %></td>
          </tr>
          <tr class="status-pending">
            <td>State or province</td>
            <td><%= @farm.state %></td>
          </tr>
          <tr class="status-pending">
            <td>Postal code</td>
            <td><%= @farm.postal_code %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>