<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_device.user_id %>
</p>

<p>
  <b>Regid:</b>
  <%= @user_device.regid %>
</p>

<p>
  <b>Is active:</b>
  <%= @user_device.is_active %>
</p>


<%= link_to 'Edit', edit_user_device_path(@user_device) %> |
<%= link_to 'Back', user_devices_path %>
