  <div class="field">
    <%= f.hidden_field :first_name %>
  </div>
  <div class="field">
    <%= f.hidden_field :last_name %>
  </div>
  <div class="field">
    <%= f.hidden_field :email %>
  </div>
  <li class="input">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </li>
  <li class="input">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </li>
  <li class="input">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </li>